:root{
    /* Decided to pick some halloween colors to be festive */
    --orange: orange;
    --dark: black;
    --offsetcolor: rgb(26, 25, 25);
    --rounding: 20px;
    --sectioncolor: rgb(240, 236, 236);
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/*Properties listed under the corresponding id or class are specific to that parent or child*/
body {
    font-family: Arial, sans-serif;
    /*Used a variable called offset color for the background color of all my body sections
    so that it is easier to manipulate all properties under that same variable all at once*/
    background-color: var(--offsetcolor);
    /*Margin creates a gap between it and any adjacent containers or blocks; It goes content,
    padding, border and then margin in order of innermost to outermost layer*/
    margin: 10px;
    padding: 0;
}

nav {
    background-color: var(--orange);
    /*Border radius rounds the edges of the container; can specify which corners if necessary
    but I like the symmetry of all corners in this case*/
    border-radius: var(--rounding);
    color: var(--dark);
    text-align: center;
    /*Sticky position makes an element switch between relative and fixed positioning, depending 
    on the scroll position until it reaches a given offset value, where it will stick in place
    so to speak*/
    position:sticky;
    margin: var(--rounding);
}

nav ul {
    /*I am going to be completely honest...I messed with the list style properties and could not 
    tell you the difference between circle and hebrew etc. I saw on w3schools what it should look 
    like but it never changed when I swapped them*/
    list-style: circle;
    padding: 1%;

}

nav li {
    /*Wanted these inline because it looks better aesthetically if it is NOT in a column*/
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: var(--dark);
}

nav a:hover {
    /*Wanted to add a little flare so I used this pseudo element to make the text color change
    when the mouse is hovered over it*/
    color: var(--sectioncolor);
  }

section {
    background-color: var(--sectioncolor);
    padding: var(--rounding);
    margin: var(--rounding);
    border-radius: var(--rounding);
}

h2 {
    color: var(--dark);
    padding:.5%;
    border: var(--dark);
    border-radius: var(--rounding);
    background-color: var(--orange);
    text-align: center;
}

p {
    color: var(--dark);
}

.about_me_content{
    display: flex;
    align-items: center;
}

.about_me_content img {
    width: 300px;
    /*Margin right was used to create a gap between the image and the listed items in the about
    me section*/
    margin-right: 50px; 
    margin-top: var(--rounding);
    border-radius: var(--rounding);
}

.about_me_content p {
    font-size: var(--rounding);
    color: var(--dark);
}

.about_me_text {
    /* Need to add this class and property because I could not alter the text properties to be 
    listed vertically if I tried doing it in the content class*/
    display: flex;
    flex-direction: column;
    /* If I do not specifically specify properties in the child, then it 
    will adopt the properties indicated in the parent; for example the text size */
}